In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('cities-in-poland.csv', sep=';')
df

             City          Region            Province  Areakm2  Population
0     Bolesławiec   bolesławiecki        dolnośląskie    23.57       39464
1    Nowogrodziec   bolesławiecki        dolnośląskie    16.10        4227
2         Bielawa  dzierżoniowski        dolnośląskie    36.21       30987
3     Dzierżoniów  dzierżoniowski        dolnośląskie    20.07       34168
4         Niemcza  dzierżoniowski        dolnośląskie    19.81        3107
..            ...             ...                 ...      ...         ...
908   Świnoujście  Świnoujście[a]  zachodniopomorskie   197.23       41276
909        Człopa         wałecki  zachodniopomorskie     6.27        2345
910   Mirosławiec         wałecki  zachodniopomorskie     2.17        3040
911        Tuczno         wałecki  zachodniopomorskie     9.21        1956
912         Wałcz         wałecki  zachodniopomorskie    38.17       26033

[913 rows x 5 columns]

In [18]:
df1 = df.loc[:,['Province','Population']].groupby('Province').sum()
df1.plot.pie()

ValueError: pie requires either y column or 'subplots=True'