# Companies

In [2]:
import pandas as pd

companies = pd.read_csv('companies.csv')

companies

          Company                Department  #Men  #Women
0          Dabjam                     Sales   315     959
1           Janyx                     Legal    56     823
2           Voomm                   Support   159     441
3          Oyondu                   Support   367     437
4        Buzzbean               Engineering   683     745
5         Cogibox                  Services   677     894
6          Dabjam           Human Resources   645     539
7          JumpXS      Business Development   353     331
8        Digitube                     Sales   283     144
9   Twitterbridge           Human Resources   676     805
10          Kwinu                  Training   459     900
11         Meezzy                     Sales   962      47
12       Devpoint  Research and Development    66     394
13        Wikibox      Business Development   549     965
14          Quinu               Engineering   977     447
15     Brightbean                   Support   442     128
16         Devbug                     Sales   560     149
17           Oloo                  Training   539     937
18         Wikizz                 Marketing   948     490
19         Rhyloo                Accounting   279       9

Total number of men and women

In [5]:
companies[['#Men','#Women']].sum()

#Men       9995
#Women    10584
dtype: int64

Average number of women in company

In [6]:
companies['#Women'].mean()

529.2