# Cracow population in years 1985-2023

In [4]:
import pandas as pd

In [5]:
population = pd.Series(data = {'1985': 740.120, '1995': 744.967, '2005': 756.629, '2015': 762.508, '2019': 774.839, '2023': 804.237})

* The contents of the Series along with the descriptive statistic

In [7]:
population

1985    740.120
1995    744.967
2005    756.629
2015    762.508
2019    774.839
2023    804.237
dtype: float64

In [6]:
population.describe()

count      6.000000
mean     763.883333
std       23.347315
min      740.120000
25%      747.882500
50%      759.568500
75%      771.756250
max      804.237000
dtype: float64

* Population in Krakow in 2005

In [8]:
population['2005']

756.629

* The average pupulation in Krakow between 1985 and 2023

In [9]:
population.mean()

763.8833333333333

* Descriptive statistics

In [10]:
population.describe()

count      6.000000
mean     763.883333
std       23.347315
min      740.120000
25%      747.882500
50%      759.568500
75%      771.756250
max      804.237000
dtype: float64