# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [1]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [2]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [3]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [4]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [5]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [6]:
employees.append("Josh")
employees.append("Judy")

In [9]:
ds2 = pd.Series(data = employees)

In [10]:
ds2

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7       Josh
8       Judy
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [11]:
components = pd.Series(data = ["GPU", "CPU", "Motherboard", "RAM", "Drive"])

In [12]:
components

0            GPU
1            CPU
2    Motherboard
3            RAM
4          Drive
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [13]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [14]:
tools_in_stock["wrench"] = 5
tools_in_stock["ratchet"] = 7

tools2 = pd.Series(data = tools_in_stock)
tools2

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
wrench          5
ratchet         7
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [15]:
tools.sum()

58

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

In [18]:
tools.describe()

count     5.000000
mean     11.600000
std       7.536577
min       4.000000
25%       7.000000
50%       9.000000
75%      15.000000
max      23.000000
dtype: float64

### Tasks

Calculate the average number of tools in stock.

In [19]:
tools2.mean()

10.0

Generate descriptive statistics for the tools in stock.

In [20]:
tools2.describe()

count     7.000000
mean     10.000000
std       6.757712
min       4.000000
25%       6.000000
50%       7.000000
75%      12.000000
max      23.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [21]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [22]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [23]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [24]:
restaurant = pd.Series(data= {'Monday': 12, 'Tuesday': 32, 'Wednesday' : 20, 'Thursday' : 72, 'Friday' : 121, 'Saturday' : 139, 'Sunday' : 142})

With the created data series, follow the instructions below.

Display the contents of the Series.

In [25]:
restaurant

Monday        12
Tuesday       32
Wednesday     20
Thursday      72
Friday       121
Saturday     139
Sunday       142
dtype: int64

Display the total number of restaurant customers.

In [26]:
restaurant.sum()

538

Display the median number of restaurant customers.

In [27]:
restaurant.median()

72.0

Display descriptive statistics.

In [28]:
restaurant.describe()

count      7.000000
mean      76.857143
std       57.050938
min       12.000000
25%       26.000000
50%       72.000000
75%      130.000000
max      142.000000
dtype: float64

Display the list of restaurant customers on business days.

In [29]:
restaurant['Monday':'Friday']

Monday        12
Tuesday       32
Wednesday     20
Thursday      72
Friday       121
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [30]:
restaurant['Monday':'Friday'].mean()

51.4

Display the list of restaurant customers on the weekend.

In [33]:
restaurant['Saturday':'Sunday']

Saturday    139
Sunday      142
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [34]:
restaurant['Saturday':'Sunday'].sum()

281